
<div data-cmp-is="image" data-cmp-src="/content/bas/storybook-sample-content/image/_jcr_content/root/container/image_copy_copy.coreimg{.width}.jpeg/1588622837403/mountain-range.jpeg" data-asset="/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg" data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122" data-title="Aerial photo of mountain range" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
    <a class="cmp-image__link" href="/content/bas/storybook-sample-content.html" data-cmp-hook-image="link">
        
            
            <img src="/content/bas/storybook-sample-content/image/_jcr_content/root/container/image_copy_copy.coreimg.jpeg/1588622837403/mountain-range.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Aerial photo of mountain range" title="Aerial photo of mountain range"/>
            
        
    </a>
    
    <meta itemprop="caption" content="Aerial photo of mountain range"/>
</div>

    
