
<div class="cmp-tabs" data-cmp-is="tabs">
    <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
        
        <li role="tab" class="cmp-tabs__tab" tabindex="-1" data-cmp-hook-tabs="tab">Tab 1</li>
    
        
        <li role="tab" class="cmp-tabs__tab" tabindex="-1" data-cmp-hook-tabs="tab">Tab 2</li>
    </ol>
    <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel"><div class="container responsivegrid">

    
    <div class="cmp-container">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="text aem-GridColumn aem-GridColumn--default--12">
<div class="cmp-text">
    <h1>Tab 1</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

    

</div>

    
</div>

    </div>

    
</div>
</div>
<div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel"><div class="container responsivegrid">

    
    <div class="cmp-container">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="text aem-GridColumn aem-GridColumn--default--12">
<div class="cmp-text">
    <h1>Tab 2</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>

    

</div>

    
</div>

    </div>

    
</div>
</div>

    
</div>
