
<div class="cmp-download">
    <h3 class="cmp-download__title">
        <a class="cmp-download__title-link" href="/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg.coredownload.jpeg">Aerial photo of mountain range</a>
    </h3>
    <div class="cmp-download__description">Aerial photo of mountain range</div>
    <dl class="cmp-download__properties">
        <div class="cmp-download__property cmp-download__property--filename">
            <dt class="cmp-download__property-label">Filename</dt>
            <dd class="cmp-download__property-content">mountain-range.jpg</dd>
        </div>
        <div class="cmp-download__property cmp-download__property--size">
            <dt class="cmp-download__property-label">Size</dt>
            <dd class="cmp-download__property-content">62 KB</dd>
        </div>
        <div class="cmp-download__property cmp-download__property--format">
            <dt class="cmp-download__property-label">Format</dt>
            <dd class="cmp-download__property-content">image/jpeg</dd>
        </div>
    </dl>
    
</div>

    
