
<div class="cmp-carousel" role="group" aria-roledescription="carousel" data-cmp-is="carousel" data-cmp-delay="5000">
    <div class="cmp-carousel__content">
        <div class="cmp-carousel__item cmp-carousel__item--active" role="tabpanel" aria-label="Slide 1 of 2" data-cmp-hook-carousel="item"><div class="image">
<div data-cmp-is="image" data-cmp-src="/content/bas/storybook-sample-content/carousel/_jcr_content/root/container/carousel/image.coreimg{.width}.jpeg/1588632310888/snowy-mountain-glacier.jpeg" data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg" data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7" data-title="Snowy mountain glacier" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
    
        
            
            <img src="/content/bas/storybook-sample-content/carousel/_jcr_content/root/container/carousel/image.coreimg.jpeg/1588632310888/snowy-mountain-glacier.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Snowy mountain glacier" title="Snowy mountain glacier"/>
            
        
    
    
    <meta itemprop="caption" content="Snowy mountain glacier"/>
</div>

    
</div>
</div>
<div class="cmp-carousel__item" role="tabpanel" aria-label="Slide 2 of 2" data-cmp-hook-carousel="item"><div class="image">
<div data-cmp-is="image" data-cmp-src="/content/bas/storybook-sample-content/carousel/_jcr_content/root/container/carousel/item_1588632295474.coreimg{.width}.jpeg/1588632329919/mountain-range.jpeg" data-asset="/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg" data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122" data-title="Aerial photo of mountain range" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
    
        
            
            <img src="/content/bas/storybook-sample-content/carousel/_jcr_content/root/container/carousel/item_1588632295474.coreimg.jpeg/1588632329919/mountain-range.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Aerial photo of mountain range" title="Aerial photo of mountain range"/>
            
        
    
    
    <meta itemprop="caption" content="Aerial photo of mountain range"/>
</div>

    
</div>
</div>

        <div class="cmp-carousel__actions">
            <button class="cmp-carousel__action cmp-carousel__action--previous" type="button" aria-label="Previous" data-cmp-hook-carousel="previous">
                <span class="cmp-carousel__action-icon"></span>
                <span class="cmp-carousel__action-text">Previous</span>
            </button>
            <button class="cmp-carousel__action cmp-carousel__action--next" type="button" aria-label="Next" data-cmp-hook-carousel="next">
                <span class="cmp-carousel__action-icon"></span>
                <span class="cmp-carousel__action-text">Next</span>
            </button>
            
            
        </div>
        <ol class="cmp-carousel__indicators" role="tablist" aria-label="Choose a slide to display" data-cmp-hook-carousel="indicators">
            <li class="cmp-carousel__indicator cmp-carousel__indicator--active" role="tab" aria-label="Slide 1" data-cmp-hook-carousel="indicator"></li>
<li class="cmp-carousel__indicator" role="tab" aria-label="Slide 2" data-cmp-hook-carousel="indicator"></li>

        </ol>
    </div>
    
</div>
