
<ul class="cmp-list">
    <li class="cmp-list__item">
    <article>
        
            <span class="cmp-list__item-title">List Page 1</span>
            
        
        
    </article>
</li>

    <li class="cmp-list__item">
    <article>
        
            <span class="cmp-list__item-title">List Page 2</span>
            
        
        
    </article>
</li>

    <li class="cmp-list__item">
    <article>
        
            <span class="cmp-list__item-title">List Page 3</span>
            
        
        
    </article>
</li>
</ul>

    

